

.slider-container {
    display: block;
    margin-top: 100px;
}

.slick-next::before, .slick-prev::before {
    content: ''; /* Sau setează alt conținut, cum ar fi un icon special */
    display: none; /* Ascunde elementul */
  }

  .size-slide {
    width: 100%;
  } 


  .slider-container-small {
    display: none;
}

 @media screen and (max-width: 1025px) {
    .slider-container {
        display: block;
        margin-top: 0px;
    }
    
 }


 @media screen and (max-width: 770px) {
    .slider-container {
        display: none;
    }

    .slider-container-small {
        display: block;
    }
    
 }